sistemaAGP/Service References/integracionAG/WSIntegracionAGP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFacturaPorNumero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacturaPorNumeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacturaPorNumeroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacturasPorFechas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaini" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechafin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacturasPorFechasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacturasPorFechasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encriptar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncriptarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncriptarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFacturaPorNumeroSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacturaPorNumero" />
  </wsdl:message>
  <wsdl:message name="GetFacturaPorNumeroSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacturaPorNumeroResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacturasPorFechasSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacturasPorFechas" />
  </wsdl:message>
  <wsdl:message name="GetFacturasPorFechasSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacturasPorFechasResponse" />
  </wsdl:message>
  <wsdl:message name="EncriptarSoapIn">
    <wsdl:part name="parameters" element="tns:Encriptar" />
  </wsdl:message>
  <wsdl:message name="EncriptarSoapOut">
    <wsdl:part name="parameters" element="tns:EncriptarResponse" />
  </wsdl:message>
  <wsdl:portType name="WSIntegracionAGPSoap">
    <wsdl:operation name="GetFacturaPorNumero">
      <wsdl:input message="tns:GetFacturaPorNumeroSoapIn" />
      <wsdl:output message="tns:GetFacturaPorNumeroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacturasPorFechas">
      <wsdl:input message="tns:GetFacturasPorFechasSoapIn" />
      <wsdl:output message="tns:GetFacturasPorFechasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encriptar">
      <wsdl:input message="tns:EncriptarSoapIn" />
      <wsdl:output message="tns:EncriptarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSIntegracionAGPSoap" type="tns:WSIntegracionAGPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacturaPorNumero">
      <soap:operation soapAction="http://tempuri.org/GetFacturaPorNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacturasPorFechas">
      <soap:operation soapAction="http://tempuri.org/GetFacturasPorFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encriptar">
      <soap:operation soapAction="http://tempuri.org/Encriptar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIntegracionAGPSoap12" type="tns:WSIntegracionAGPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacturaPorNumero">
      <soap12:operation soapAction="http://tempuri.org/GetFacturaPorNumero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacturasPorFechas">
      <soap12:operation soapAction="http://tempuri.org/GetFacturasPorFechas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encriptar">
      <soap12:operation soapAction="http://tempuri.org/Encriptar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSIntegracionAGP">
    <wsdl:port name="WSIntegracionAGPSoap" binding="tns:WSIntegracionAGPSoap">
      <soap:address location="http://aplica.gildemeister.cl/WSIntegracionAGP/WSIntegracionAGP.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIntegracionAGPSoap12" binding="tns:WSIntegracionAGPSoap12">
      <soap12:address location="http://aplica.gildemeister.cl/WSIntegracionAGP/WSIntegracionAGP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>