sistemaAGP/Service References/AgNotaPedido/NotaPedidoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gildemeister.WCF.BE.NotaPedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gildemeister.WCF.BE.NotaPedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NotaPedidoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="msg_Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotaPedidoBE" nillable="true" type="tns:NotaPedidoBE" />
</xs:schema>