sistemaAGP/Service References/IntegracionProvidencia/svrAgp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getPagoByPlaca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPagoByPlacaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPagoByPlacaResult" type="tns:Pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="total_pago" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="fecha_pago" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOperacion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPagoByOperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdOperacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPagoByOperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPagoByOperacionResult" type="tns:Pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPagoByFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FecPagoDesde" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FecPagoHasta" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPagoByFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPagoByFechaResult" type="tns:ArrayOfPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pago" nillable="true" type="tns:Pago" />
        </s:sequence>
      </s:complexType>
      <s:element name="getEmitidoByPlaca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmitidoByPlacaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmitidoByPlacaResult" type="tns:Pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmitidoByOperacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdOperacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmitidoByOperacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmitidoByOperacionResult" type="tns:Pago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmitidoByFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FecPagoDesde" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FecPagoHasta" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmitidoByFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmitidoByFechaResult" type="tns:ArrayOfPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPagoByPlacaSoapIn">
    <wsdl:part name="parameters" element="tns:getPagoByPlaca" />
  </wsdl:message>
  <wsdl:message name="getPagoByPlacaSoapOut">
    <wsdl:part name="parameters" element="tns:getPagoByPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="getPagoByOperacionSoapIn">
    <wsdl:part name="parameters" element="tns:getPagoByOperacion" />
  </wsdl:message>
  <wsdl:message name="getPagoByOperacionSoapOut">
    <wsdl:part name="parameters" element="tns:getPagoByOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="getPagoByFechaSoapIn">
    <wsdl:part name="parameters" element="tns:getPagoByFecha" />
  </wsdl:message>
  <wsdl:message name="getPagoByFechaSoapOut">
    <wsdl:part name="parameters" element="tns:getPagoByFechaResponse" />
  </wsdl:message>
  <wsdl:message name="getEmitidoByPlacaSoapIn">
    <wsdl:part name="parameters" element="tns:getEmitidoByPlaca" />
  </wsdl:message>
  <wsdl:message name="getEmitidoByPlacaSoapOut">
    <wsdl:part name="parameters" element="tns:getEmitidoByPlacaResponse" />
  </wsdl:message>
  <wsdl:message name="getEmitidoByOperacionSoapIn">
    <wsdl:part name="parameters" element="tns:getEmitidoByOperacion" />
  </wsdl:message>
  <wsdl:message name="getEmitidoByOperacionSoapOut">
    <wsdl:part name="parameters" element="tns:getEmitidoByOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="getEmitidoByFechaSoapIn">
    <wsdl:part name="parameters" element="tns:getEmitidoByFecha" />
  </wsdl:message>
  <wsdl:message name="getEmitidoByFechaSoapOut">
    <wsdl:part name="parameters" element="tns:getEmitidoByFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="svrAgpSoap">
    <wsdl:operation name="getPagoByPlaca">
      <wsdl:input message="tns:getPagoByPlacaSoapIn" />
      <wsdl:output message="tns:getPagoByPlacaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPagoByOperacion">
      <wsdl:input message="tns:getPagoByOperacionSoapIn" />
      <wsdl:output message="tns:getPagoByOperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPagoByFecha">
      <wsdl:input message="tns:getPagoByFechaSoapIn" />
      <wsdl:output message="tns:getPagoByFechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByPlaca">
      <wsdl:input message="tns:getEmitidoByPlacaSoapIn" />
      <wsdl:output message="tns:getEmitidoByPlacaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByOperacion">
      <wsdl:input message="tns:getEmitidoByOperacionSoapIn" />
      <wsdl:output message="tns:getEmitidoByOperacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByFecha">
      <wsdl:input message="tns:getEmitidoByFechaSoapIn" />
      <wsdl:output message="tns:getEmitidoByFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="svrAgpSoap" type="tns:svrAgpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPagoByPlaca">
      <soap:operation soapAction="http://tempuri.org/getPagoByPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagoByOperacion">
      <soap:operation soapAction="http://tempuri.org/getPagoByOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagoByFecha">
      <soap:operation soapAction="http://tempuri.org/getPagoByFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByPlaca">
      <soap:operation soapAction="http://tempuri.org/getEmitidoByPlaca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByOperacion">
      <soap:operation soapAction="http://tempuri.org/getEmitidoByOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByFecha">
      <soap:operation soapAction="http://tempuri.org/getEmitidoByFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="svrAgpSoap12" type="tns:svrAgpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPagoByPlaca">
      <soap12:operation soapAction="http://tempuri.org/getPagoByPlaca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagoByOperacion">
      <soap12:operation soapAction="http://tempuri.org/getPagoByOperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagoByFecha">
      <soap12:operation soapAction="http://tempuri.org/getPagoByFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByPlaca">
      <soap12:operation soapAction="http://tempuri.org/getEmitidoByPlaca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByOperacion">
      <soap12:operation soapAction="http://tempuri.org/getEmitidoByOperacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmitidoByFecha">
      <soap12:operation soapAction="http://tempuri.org/getEmitidoByFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svrAgp">
    <wsdl:port name="svrAgpSoap" binding="tns:svrAgpSoap">
      <soap:address location="http://wspcir.providencia.cl/svrAgp.asmx" />
    </wsdl:port>
    <wsdl:port name="svrAgpSoap12" binding="tns:svrAgpSoap12">
      <soap12:address location="http://wspcir.providencia.cl/svrAgp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>